html,body{
    height:100%;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #bfab73;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #27445C;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #bfab73;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 0 0 10px #bfab73;
    border-color: #bfab73;
    height: 60vh;
    left: 25%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.box::-webkit-scrollbar{
    width: 7px;
    margin-left: 5px;
    height: 5px;
}
.box::-webkit-scrollbar-track{
    background: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box::-webkit-scrollbar-thumb {
    background-color: transparent;
    height: 20px;
  }
.box h2{
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}
.box h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background-color: transparent;
    box-shadow: 0 2px 5px #bfab73;
}
.box ul{
    list-style: disc;
    font-size: 28px;
    flex-grow: 1;
    display: flex;
    max-width: 80%;
    margin-left: 10%;
    flex-direction: column;
    padding-left: 1em;
    text-align: left;
}
.box ul li{
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}
.box ul li a{
    color: #bfab73;
    text-decoration: none;
    display: inline-block;
}
.box ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #27445C;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 1s;
}
.box ul li:hover::after{
    width: 100%;
}